es.node=false
es.host={{ es_head }}
rest.url.eg=http://rest.ensemblgenomes.org/
rest.url.ens=http://rest.ensembl.org/
solr.expression.url={{ solr_expression_url }}
solr.experiments.url={{ solr_experiments_url }}
eva.rest.url=https://www.ebi.ac.uk/eva/webservices/rest/v1
