es.node=false
es.host={{ webapp_es_head }}
es.cluster={{ es_cluster }}
rest.url.eg={{ rest_url_ens }}
rest.url.ens={{ rest_url_ens }}
solr.expression.url={{ solr_expression_url }}
solr.experiments.url={{ solr_experiments_url }}

eva.rest.url=https://www.ebi.ac.uk/eva/webservices/rest/v1

spring.jersey.applicationPath=/api

debug=false

{% if ega_url is defined %}
ebisc.rest.url=https://cells.ebisc.org/api/v0/cell-lines
ebisc.rest.username={{ ebisc_user }}
ebisc.rest.api_token={{ ebisc_token }}
ebisc.ega.url={{ ega_url }}
ebisc.ega.accession={{ ebisc_accession }}
{% endif %}

security.basic.enabled=false
spring.spring_profiles.active={{ spring_profile }}

{% if keystore_name is defined %}
server.ssl.key-store={{ keystore_name }}
server.ssl.key-store-password={{ key_password }}
server.ssl.keyStoreType=PKCS12
server.ssl.keyAlias={{ key_alias }}
{% endif %}
{% if proxy_host is defined %}
http.proxyHost={{ proxy_host }}
http.proxyPort={{ proxy_port }}
https.proxyHost={{ proxy_host }}
https.proxyPort={{ proxy_port }}
{% endif %}
server.port={{ webapp_port }}
