#!/bin/bash --
# ..  See the NOTICE file distributed with this work for additional information
#     regarding copyright ownership.
#     Licensed under the Apache License, Version 2.0 (the "License");
#     you may not use this file except in compliance with the License.
#     You may obtain a copy of the License at
#       http://www.apache.org/licenses/LICENSE-2.0
#     Unless required by applicable law or agreed to in writing, software
#     distributed under the License is distributed on an "AS IS" BASIS,
#     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#     See the License for the specific language governing permissions and
#     limitations under the License.#
#

JAVA_HOME={{ java_dir }}
export PATH=$JAVA_HOME/bin:$PATH

cd {{ web_dir }}
PID_FILE={{ web_pid }}

function stop_web {
  if [ -e "$PID_FILE" ]; then
    pid=$(cat $PID_FILE)
	  echo "Stopping web (pid $pid)" 1>&2
	  kill -SIGTERM $pid	    
    timeout=60 
    while ps $pid >/dev/null; do
      echo "Waiting for web to stop"
      sleep 5
      ((timeout -= 5))    
      if [ "$timeout" -le "0" ]; then
        echo "Killing web"
        kill -9 $1
      fi
    done
	  rm -f $PID_FILE
  else
	  echo "Web not running" 1>&2
  fi  
}

function start_web {
    if [ -e "$PID_FILE" ]; then
	echo "Web still running (pid file $PID_FILE)" 1>&2
	exit 2
    fi
    java {{ web_java_opts }} -jar {{ web_dir }}/{{jar_name}} >& {{ log_dir }}/webapp.log &
    PID=$!
    echo $PID > $PID_FILE
}
action=$1
if [ "$action" == "start" ]; then
    start_web
elif [ "$action" == "stop" ]; then
    stop_web
elif [ "$action" == "restart" ]; then
    stop_web
    start_web
else
    echo "Usage: $0 start|stop|restart" 1>&2
    exit 1
fi

