/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs
/_eumm/
/bin/
/pqt/
/build/
.gradle
search/build
web/build
.idea/
*.iml
/_Deparsed_XSubs.pm
/test/build/classes/java/main/org/elasticsearch/bootstrap/JarHell.class
/test/build/classes/java/main/org/ensembl/genesearch/test/ESTestServer$1.class
/test/build/classes/java/main/org/ensembl/genesearch/test/ESTestServer$2.class
/test/build/classes/java/main/org/ensembl/genesearch/test/ESTestServer.class
/test/build/classes/java/main/org/ensembl/genesearch/test/MongoTestServer.class
/test/build/libs/test-1.0.jar
/test/build/tmp/jar/MANIFEST.MF
