#!/bin/bash --
# ..  See the NOTICE file distributed with this work for additional information
#     regarding copyright ownership.
#     Licensed under the Apache License, Version 2.0 (the "License");
#     you may not use this file except in compliance with the License.
#     You may obtain a copy of the License at
#       http://www.apache.org/licenses/LICENSE-2.0
#     Unless required by applicable law or agreed to in writing, software
#     distributed under the License is distributed on an "AS IS" BASIS,
#     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#     See the License for the specific language governing permissions and
#     limitations under the License.#
#

JAVA_HOME={{ java_dir }}
export PATH=$JAVA_HOME/bin:$PATH
export ES_HEAP_SIZE={{ web_java_heap }}
cd {{ es_dir }}
PID_FILE={{ es_pid }}

function stop_es {
  if [ -e "$PID_FILE" ]; then
    pid=$(cat $PID_FILE)
    echo "Stopping ES (pid $pid)" 1>&2
    kill -SIGTERM $pid      
    timeout=60 
    while ps $pid >/dev/null; do
      echo "Waiting for ES to stop"
      sleep 5
      ((timeout -= 5))    
      if [ "$timeout" -le "0" ]; then
        echo "Killing ES"
        kill -9 $1
      fi
    done
    rm -f $PID_FILE
  else
    echo "ES not running" 1>&2
  fi  
}

function start_es {
    if [ -e "$PID_FILE" ]; then
	echo "ES still running (pid file $PID_FILE)" 1>&2
	exit 2
    fi
    nohup ./bin/elasticsearch -d -p $PID_FILE
}
action=$1
if [ "$action" == "start" ]; then
    start_es
elif [ "$action" == "stop" ]; then
    stop_es
elif [ "$action" == "restart" ]; then
    stop_es
    start_es
else
    echo "Usage: $0 start|stop|restart" 1>&2
    exit 1
fi
