# ..  See the NOTICE file distributed with this work for additional information
#     regarding copyright ownership.
#     Licensed under the Apache License, Version 2.0 (the "License");
#     you may not use this file except in compliance with the License.
#     You may obtain a copy of the License at
#       http://www.apache.org/licenses/LICENSE-2.0
#     Unless required by applicable law or agreed to in writing, software
#     distributed under the License is distributed on an "AS IS" BASIS,
#     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#     See the License for the specific language governing permissions and
#     limitations under the License.#
#

###############
# GLOBAL  CFG #
###############
# remote_user
remote_user_name: remoteusername
# Remote Applications root base dir
base_dir: /home/genesearch

# SSL params if need be
# keystore_name :
# key_alias :
# key_password :

# Other remote platforms parameters
# SOLR credentials
solr_expression_url: TODO
solr_experiments_url: TODO

# EBISC details
ebisc_user: TODO
ebisc_token: TODO
ebisc_accession: TODO

# EGA details
ega_url: TODO

# EVA details
eva_rest_url: TODO
