cluster.name: {{ es_cluster }}
path.data: {{ es_data }}
path.logs: {{ es_logs }}

# TODO update this script for production environment purpose
node.name: ${HOSTNAME}
network.host: ${HOSTNAME}

# discovery.zen.ping.multicast.enabled: false
discovery.zen.ping.unicast.hosts: [{{ '\"' + es_hosts|join('\", \"' )+'\"'}}]
discovery.zen.minimum_master_nodes: {{ es_min_masters }}

node.max_local_storage_nodes: 1

http.cors.enabled: true
http.cors.allow-origin: "*"

node.data: false
node.master: false

bootstrap.system_call_filter: false
# Bulk pool
# thread_pool.bulk.type: {{ head_thread_pool.bulk.type }}
thread_pool.bulk.size: {{ head_thread_pool.bulk.size }}
thread_pool.bulk.queue_size: {{ head_thread_pool.bulk.queue_size }}
thread_pool.write.size: {{ head_thread_pool.write.size }}