# ---------------------------------- Cluster -----------------------------------
#
cluster.name: {{ es_cluster_name }}
#
# ------------------------------------ Node ------------------------------------
#
node.name: ${HOSTNAME}
node.max_local_storage_nodes: {{ es_max_local_storage_nodes | default("1") }} 
node.data: {{ es_node_data }}
node.master: {{ es_node_master }}
#
# ----------------------------------- Paths ------------------------------------
#
path.data: {{ es_data }}
#
path.logs: {{ es_logs }}
#
# ----------------------------------- Memory -----------------------------------
#
#bootstrap.memory_lock: true
bootstrap.system_call_filter: false
#
# ---------------------------------- Network -----------------------------------
#
network.host: {{ inventory_hostname }}
transport.host: {{ inventory_hostname }}
{% if es_discovery_type is defined %}
discovery.type: single-node
{% endif %}
http.enabled: {{ es_http_enabled | default("true") }}
http.port: {{ es_port | default("9200") }}
transport.tcp.port:  {{ es_transport_port | default("9300") }}
#
# For more information, consult the network module documentation.
#
# --------------------------------- Discovery ----------------------------------
#
discovery.zen.ping.unicast.hosts: [{{ '\"' + es_hosts|join('\", \"' )+'\"'}}]
#
# Prevent the "split brain" by configuring the majority of nodes (total number of master-eligible nodes / 2 + 1):
#
#discovery.zen.minimum_master_nodes:
#
# For more information, consult the zen discovery module documentation.
#
# ---------------------------------- Gateway -----------------------------------
#
# Block initial recovery after a full cluster restart until N nodes are started:
#
#gateway.recover_after_nodes: 3
#
# For more information, consult the gateway module documentation.
#
# ---------------------------------- Various -----------------------------------
#
# Require explicit names when deleting indices:
#
# action.destructive_requires_name: true
# Bulk pool
thread_pool.bulk.size: {{ es_head_thread_pool_bulk_size | default(60)}}
thread_pool.bulk.queue_size: {{ es_head_thread_pool_bulk_queue_size|default(300) }}
