# ---------------------------------- Cluster -----------------------------------
#
cluster.name: {{ es_cluster_name }}
#
# ------------------------------------ Node ------------------------------------
#
node.name: {{ es_node_name | default(inventory_hostname) }}
node.max_local_storage_nodes: {{ es_max_local_storage_nodes | default("50") }}
node.data: {{ es_node_data }}
node.master: {{ es_node_master }}
#
# ----------------------------------- Paths ------------------------------------
#
path.data: {{ es_data }}
#
path.logs: {{ es_logs }}
#
# ----------------------------------- Memory -----------------------------------
#
#bootstrap.memory_lock: true
bootstrap.system_call_filter: false
#
# ---------------------------------- Network -----------------------------------
#
http.cors.enabled: true
http.cors.allow-origin: "*"
network.host: {{ inventory_hostname }}
transport.host: {{ inventory_hostname }}
# TODO deal with this parameter according to environment
{% if es_discovery_type is defined %}
discovery.type: single-node
{% endif %}
http.enabled: {{ es_http_enabled | default("true") }}
http.port: {{ es_port | default("9200") }}
transport.tcp.port:  {{ es_transport_port | default("9300") }}
#
# --------------------------------- Discovery ----------------------------------
#TODO
# The default list of hosts is ["127.0.0.1", "[::1]"]
# discovery.zen.ping.unicast.hosts: ["host1", "host2"]
discovery.zen.ping.unicast.hosts: [{{ '\"' + es_hosts|join('\", \"' )+'\"'}}]
# Prevent the "split brain" by configuring the majority of nodes (total number of master-eligible nodes / 2 + 1):
# discovery.zen.minimum_master_nodes: {{ es_min_masters|default(1) }}
#
# ---------------------------------- Gateway -----------------------------------
#
#gateway.recover_after_nodes: 3
#
# ---------------------------------- Various -----------------------------------
#
# action.destructive_requires_name: true
# Bulk pool
{% if es_discovery_type is defined %}
thread_pool.bulk.size: {{ es_head_thread_pool_bulk_size | default(60) }}
thread_pool.bulk.queue_size: {{ es_head_thread_pool_bulk_queue_size| default(300) }}
{% endif %}
