cluster.name: {{ es_cluster }}
node.name: ${HOSTNAME}
path.data: {{ es_data }}
path.logs: {{ es_logs }}
network.host: ${HOSTNAME}
discovery.zen.ping.multicast.enabled: false
discovery.zen.ping.unicast.hosts: [{{ '\"' + es_hosts|join('\", \"' )+'\"'}}]
discovery.zen.minimum_master_nodes: {{ min_masters }}
node.max_local_storage_nodes: 1
thread_pool.bulk.queue_size: 128
bootstrap.system_call_filter: false